
  <!--module tree, hard to divide into levels-->
  <table id="moduletable">
    <thead>
    </thead>
  	<tbody>
  	  <tr>
  	    <th id="SOC" colspan="2">SOC - COMPUTER SCIENCE</th>
  	  </tr>
  		<tr>
  			<th class="level">Level 1000</th>
  			<td>
  				<ul id="moduleul">
  				  <% @mods.each do |mod| %>
  					<% if (mod[:level] == "1000" && mod[:pos]) %> 
  					  <li class="module"><a href="#"><%= mod[:code] %></a></li>
  					<% end %>
  				  <% end %>
  				</ul>
  			</td>
  		</tr>
  		<tr>
  			<th class="level">Level 2000</th>
  			<td></td>
  		</tr>
  		<tr>
  			<th class="level">Level 3000</th>
  			<td></td>
  		</tr>
  		<tr>
  			<th class="level">Level 4000</th>
  			<td></td>
  		</tr>
  	</tbody>
  </table>
<!--5 rows 2 cols-->
<table id="concludetable">
  <tbody>
    <tr>
      <th colspan="2">Summary</th>
    </tr>
    <tr>
      <th>Total MCs cleared</th>
      <td>0</td>
    </tr>
    <tr>
      <th>MCs left</th>
      <td>120 MCs program requirement</td> <!--auto count UL,UE-->
    </tr>
    <tr>
      <th>Potential specialization</th>
      <td>Not enough information</td>
    </tr>
    <tr>
      <th>Potential career</th>
      <td>Not enough information</td>
    </tr>
  </tbody>
</table>
<!--2 rows 3 columns-->
<table id="list-table">
  <tbody>
    <tr>
      <th colspan="3">List of taken modules</th>
    </tr>
    <tr>
      <th>Code</th>
      <th>Mcs</th>
      <th>Type</th>
    </tr>
  </tbody>
</table>