/*
* {
    border: 1.5px solid black;
    outline: 1.5px solid red;
}
*/
/*
body {
	background-color: yellow;
}
*/

table, th, tr, td{
	border: 1px solid black;
}

th {
	text-align: center;
}

li {
	text-align: center;
	width: 70px;
}
/* header */


#header-name {
    margin: 0px 0px 1px 10px;
}

#cohort {
    width: 150px;
	margin: 5px;
	margin-top: 0px;
	margin-left: 10px;
}

/* header end */



/*UE*/
#UEtext {
	margin-left: 10px;
	display: inline;
}

.UEelement {
	margin: 5px;
	display: inline-block;
}

#UEmods {
	margin: 0px;
}
/* UE end */

.module {
    display: inline-block;
    border: 1.5px solid black;
	margin: 20px;
}

#moduletable td {
	width: 100%;
	height: 80px;
}
#moduletable tr {
	height: 110px;
}
#moduleul {
	padding: 0px;
	margin: 0px;
	overflow-x: auto;
}
#moduleul li {
    float: left;
    list-style: none;
    text-align: center;
    background-color: #000000;
    line-height: 60px;
}
#moduleul li a{
    text-decoration: none;
    color: #FFFFFF;
    display: block;
}
 
#moduleul li a:hover {
    text-decoration: none;
    color: yellow;
    background-color: #33B5E5;
}
#moduletable {
	/*display: block;*/
    margin: 20px;
}

#concludetable {
	width: 60%;
	margin: auto;
}
#concludetable th {
	width: 25%;
}

#SOC {
	height: 80px;
	font-size: 30px;
}
#chosen {
	color: yellow;
}

#list-table {
	width: 100%;
	margin-top: 20px;
}

#list-table th{
	text-align: center;
	font-weight: bold;
	width: 33%;
}

#list-table td {
	text-align: center;
}